section {
  background: #000;
  color: #fff;
  padding: 2em;
}

#follow {
  background: none;
}

#update_code {
   font-size: .8em;
   margin-left : 210px;
   line-height: 1em;
}

code strong{
  color: orange;
}

.grey {
  color: #777;
}

a:link,
a:visited {
  color: orange;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

circle { fill: darkorange; } 

#controls { 
  width: 200px; 
  float : left;
  text-align:center; 
  }